<!-- <app-nav></app-nav> -->

<!-- tailwind version -->
<div class="flex items-center rounded-xl p-6 space-x-12 shadow-2xl mx-auto bg-white max-w-sm">
  <img src="assets/warning-17.svg" class="w-12 h-12">
  <div>
    <h1 class="text-4xl font-mono">Hello world </h1>
    <p class="text-base text-slate-600">Hi how are you</p>
  </div>
</div>
<button
  class="bg-indigo-500 text-white px-6 py-3 font-medium ml-10 rounded-xl hover:bg-indigo-700 transition-all ease-in-out">
  Submit</button>
<div class="container mt-10">
  <h1 class="text-4xl font-bold">Achintya Dhingra</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusantium fugiat consequuntur, perspiciatis
    temporibus numquam vel repellendus pariatur sed dolorem ut quis culpa laborum magni? Blanditiis, nesciunt
    consequatur vitae, dolorem iste aut, nam minima perferendis autem omnis doloremque? Sit beatae quisquam hic at
    officiis ducimus exercitationem corrupti! Voluptate ullam veniam, voluptatibus beatae dolore qui suscipit nulla
    adipisci culpa corporis officia pariatur necessitatibus placeat aliquam perspiciatis, impedit consequatur corrupti
    odio ab iure fugit deleniti animi esse labore. Quisquam qui quasi officia ipsum dicta eius assumenda aspernatur
    tempora accusantium necessitatibus hic aut ut enim officiis natus, eum quas laudantium. Quibusdam, architecto est?
  </p>
</div>
<div class="container mx-auto justify-center items-center space-x-40 mt-10 flex">
  <div class="h-40 w-40 shadow-2xl text-center">Item 1</div>
  <div class="h-40 w-40 shadow-2xl text-center">Item 2</div>
  <div class="h-40 w-40 shadow-2xl text-center">Item 3</div>
</div>