<!-- <app-nav></app-nav> -->

<!-- tailwind version -->
<!-- <div class="flex items-center rounded-xl p-6 space-x-12 shadow-2xl mx-auto bg-white max-w-sm">
  <img src="assets/warning-17.svg" class="w-12 h-12">
  <div>
    <h1 class="text-4xl font-mono">Hello world </h1>
    <p class="text-base text-slate-600">Hi how are you</p>
  </div>
</div>
<button
  class="bg-indigo-500 text-white px-7 py-3 font-medium ml-10 rounded-xl hover:bg-indigo-700 transition-all ease-in-out">
  Submit</button>
<div class="container mt-10">
  <h1 class="text-4xl font-bold">Achintya Dhingra</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusantium fugiat consequuntur, perspiciatis
    temporibus numquam vel repellendus pariatur sed dolorem ut quis culpa laborum magni? Blanditiis, nesciunt
    consequatur vitae, dolorem iste aut, nam minima perferendis autem omnis doloremque? Sit beatae quisquam hic at
    officiis ducimus exercitationem corrupti! Voluptate ullam veniam, voluptatibus beatae dolore qui suscipit nulla
    adipisci culpa corporis officia pariatur necessitatibus placeat aliquam perspiciatis, impedit consequatur corrupti
    odio ab iure fugit deleniti animi esse labore. Quisquam qui quasi officia ipsum dicta eius assumenda aspernatur
    tempora accusantium necessitatibus hic aut ut enim officiis natus, eum quas laudantium. Quibusdam, architecto est?
  </p>
</div>
<div class="flex flex-wrap items-center justify-evenly ">
  <div class="h-40 w-40 shadow-2xl text-center">Item 1</div>
  <div class="h-40 w-40 shadow-2xl text-center">Item 2</div>
  <div class="h-40 w-40 shadow-2xl text-center">Item 3</div>
</div>
<div class="mt-10 bg-red-500 min-w-screen">
  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, quidem?</p>
</div>
<div class="fixed bottom-2 right-2">
  <button class="p-5 bg-blue-500 rounded-xl hover:bg-blue-600 transition-all ease-in-out">☝️</button>
</div>
<button class="bg-gradient-to-r from-cyan-500 to-blue-500 px-8 py-3 mt-5 text-white rounded-xl">Login</button>
<div
  class="group block max-w-sm p-6 mx-auto shadow-2xl rounded-lg my-5 space-y-4 hover:bg-sky-400 cursor-pointer transition duration-500 ease-in-out ">
  <h1 class="text-4xl font-bold group-hover:text-white transition-all duration-500 ease-in-out">Hello</h1>
  <p class="text-base group-hover:text-white transition-all duration-500 ease-in-out">Lorem ipsum dolor sit amet.</p>
</div>
 grid -->
<!-- <div class="container mx-auto my-5">
  <div class="grid grid-cols-3 gap-3">
    <div class="p-6 text-white border border-blue-700 text-center bg-blue-300">item 1</div>
    <div class="p-6 text-white border border-blue-700 text-center bg-blue-300">item 2</div>
    <div class="p-6 text-white border border-blue-700 text-center bg-blue-300">item 3</div>
    <div class="p-6 text-white border border-blue-700 text-center bg-blue-300">item 4</div>
    <div class="p-6 text-white border border-blue-700 text-center bg-blue-300">item 5</div>
    <div class="p-6 text-white border border-blue-700 text-center bg-blue-300">item 6</div>
  </div>
</div> -->
<!-- email functrionality -->

<div class="flex items-center justify-center min-h-screen">
  <div class="dark:bg-neutral-800 shadow rounded-xl p-3 mx-6">
    <div class="flex flex-col md:flex-row">
      <img src="assets/image2.jpg" alt="paris"
        class="h-80 object-cover rounded-xl md:h-64 md:rounded-l-xl md:rounded-r-none hover:cursor-pointer transform hover:scale-105 hover:rounded-xl duration-300" />
      <div class="p-3 md:p-6">
        <h1 class="text-center font-bold text-white text-xl my-2 md:text-left "> hello world</h1>
        <p class="text-white text-center md:max-w-sm md:text-left"> Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.
          Deserunt, hic?
        </p>
        <div class="flex flex-col mt-3 space-y-4 md:space-x-3 md:flex-row md:space-y-0 md:flex-wrap">
          <input type="email" class="py-2 px-4 focus:outline-none bg-neutral-600 text-center text-white md:text-left"
            placeholder="Enter your email">
          <button class="py-2 px-4 bg-green-500 text-white rounded-md hover:bg-green-700 duration-200">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>